@import "../utils/variables.scss";
@import "../utils/mixins.scss";
.slider {
  position: relative;
  width: 100%;

  @import "../components/arrows";
  .content-slider {
    display: flex;
    width: 400vw;
    height: 80vh;
    overflow: hidden;
    align-items: center;
    @import "../components/slide.scss";
  }

  @import "../components/slide/slide_indicator.scss";
}
