.services {
  margin: 0;
  @import "../components/_navbar-large";
  @import "../components/_navbar-mobile";
  background-image: url("/assets/servicios.png");
  background-color: rgba(13, 0, 72, 1);
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @import "../components/slide/utils/responsive-slide.scss";
  color: white;

  .content {
    position: relative;
    top: 10vh;
    width: 100%;
    @include tablet {
      top: 18vh;
    }
    section {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;

      color: white;
      text-align: center;
      h3 {
        font-family: "Archivo Black", sans-serif;
        font-size: 1.25em;
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 1em;
      }
    }
    .steps {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-evenly;
      max-width: 100%;
      padding: 0 5em 0 5em;
      flex-direction: column;

      hr {
        position: relative;
        flex-grow: 1;
        bottom: 2em;
        display: none;
      }
      @include tablet {
        flex-direction: row;
        hr {
          display: block;
        }
      }

      .step {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .img {
          width: 8em;
          height: 8em;
        }
        p {
          text-align: center;

          font-family: "Archivo Black", sans-serif;
          margin: 1em 0 1em 0;
          width: 7em;
        }
      }
      @include tablet {
        .step::after {
          display: none;
        }
        .step::before {
          display: none;
        }
      }
      .step.one {
        &:before {
          position: absolute;
          content: "";
          width: 5px;
          height: 1em;
          top: 8em;
          background-color: #fff;
        }
      }
      .step.two {
        &:before {
          content: "";
          width: 5px;
          height: 1em;
          bottom: 0em;
          background-color: #fff;
        }
        &:after {
          position: absolute;
          content: "";
          width: 5px;
          height: 1em;
          top: 9em;
          background-color: #fff;
        }
      }
      .step.three {
        &:before {
          content: "";
          width: 5px;
          height: 1em;
          bottom: 0em;
          background-color: #fff;
        }
      }
    }
    .info {
      display: flex;
      position: relative;
      flex-direction: column;
      max-width: 100%;
      top: 4em;
      div {
        display: flex;
        padding: 2em;
        flex-direction: column;
        align-items: center;
        .text {
          order: 2;
          display: flex;
          flex-direction: column;
          max-width: 80%;
          text-align: center;
          h3 {
            font-family: "Archivo Black", sans-serif;
            font-size: 1.75em;
          }
          p {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 1.25em;
          }
        }
        img {
          order: 1;
          width: 80%;
          height: auto;
        }
        @include tablet {
          flex-direction: row;
          img {
            order: 2;
            width: 50%;
          }
          .text {
            order: 1;

            max-width: 50%;
            text-align: left;
          }
        }
      }
    }
  }
}
