@import "../../../utils/mixins.scss";

@include tablet {
  p:first-child {
    display: block;
    font-size: 0.9em;
  }
  a.rounded-button {
    position: relative;
    left: 0;
    transform: none;
    width: 25vw;
  }
}
