@import "../../utils/mixins.scss";
@import "../../utils/variables.scss";

.slide {
  overflow: hidden;
  position: relative;
  flex-direction: column-reverse;
  width: 100vw;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $base-font-size;

  @import "utils/responsive-slide.scss";
  .inner-slide {
    position: relative;
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
  }
}
