@import "../../../utils/mixins.scss";
@import "../../../utils/variables.scss";

.first {
  margin-bottom: 2.6em;

  h1 {
    // order: 1;
    margin: 0 0 0.5em 0;
  }
  p {
    margin: 0;
  }
  .subheader {
    display: none;

    span {
      font-family: "Anton", sans-serif;
      color: white;
    }
  }

  .btn-wrapper {
    // order: 3;
  }

  // @include tablet {
  //   img {
  //     transform: scale(1.3) translateX(-1em);
  //   }
  header {
    position: relative;
    left: 5em;
    &::after {
      position: absolute;
      right: 10%;
      top: 41%;
      content: "";
      width: 10%;
      height: 25%;
      background: linear-gradient(129.25deg, #0c4da4 16.95%, #012f6d 72.48%);
    }
    h1 {
      // order: 2;
      font-size: $base-font-size * 2.3;
      &::before {
        position: absolute;
        z-index: -1;
        margin-left: 0.7em;
        content: "";
        width: 100%;

        height: 40%;
        background: linear-gradient(91.58deg, #0c4da4 5.9%, #012f6d 89.15%);
      }
    }
    p {
      // order: 1;
    }
    //     img {
    //       height: 40vh;
    //       transform: scale(1.7) translate(-1em, -1em);
    //     }
    .subheader {
      // order: 3;
      display: flex;
      width: 40%;
      align-items: center;
      justify-content: start;
      p {
        transform: none;
        margin-left: 0.3em;
        font-size: 0.9em;
      }
    }
    .btn-wrapper {
      justify-content: flex-start;
    }
  }

  // @include desktopHeigher {
  //   img {
  //     height: 20vh;
  //     position: relative;
  //     left: 30%;
  //     top: 15%;
  //     transform: scale(2.2) translate(-6.4em, -3.1em) !important;
  //   }
  //   header {
  //     margin: 0 !important;
  //     position: relative;
  //     right: 0.6em;
  //     right: 0.8em;
  //     top: 4em;

  //     h1 {
  //       margin-left: -0.7em;
  //       font-size: 2.7em;
  //       &::before {
  //         position: absolute;
  //         z-index: -1;
  //         margin-left: 0.7em;
  //         content: "";
  //         width: 100%;

  //         height: 40%;
  //         background: linear-gradient(91.58deg, #0c4da4 5.9%, #012f6d 89.15%);
  //       }
  //       &::after {
  //         position: absolute;
  //         right: -70%;
  //         content: "";
  //         top: 15%;
  //         width: 20%;
  //         height: 35%;
  //         background: linear-gradient(
  //           129.25deg,
  //           #0c4da4 16.95%,
  //           #012f6d 72.48%
  //         );
  //       }
  //     }
  //     .btn-wrapper {
  //       justify-content: flex-start;
  //     }
  //     & > p {
  //       font-size: 0.9em;
  //       position: relative;
  //       bottom: 2em;
  //       left: 0;
  //     }
  //     .subheader {
  //       order: 3;
  //       display: flex;
  //       width: 50%;
  //       align-items: center;
  //       justify-content: start;
  //       p {
  //         transform: none;
  //         font-size: 0.9em;
  //         margin-left: 0.3em;
  //       }
  //     }
  //   }
  // }

  // @include desktop {
  //   img {
  //     transform: scale(1.8) translate(-2.5em, 0.6em);
  //   }
  //   header {
  //     margin: 6.5em 20% 0 0;
  //     &::after {
  //       position: absolute;
  //       right: 70%;
  //       top: 41%;
  //       content: "";
  //       width: 10%;
  //       height: 25%;
  //       background: linear-gradient(129.25deg, #0c4da4 16.95%, #012f6d 72.48%);
  //     }
  //   }
  //   h1 {
  //     margin-left: -0.7em;
  //     margin-bottom: 0.3em;
  //     position: relative;
  //     font-size: 2.8em;

  //     &::before {
  //       position: absolute;
  //       z-index: -1;
  //       margin-left: 0.7em;
  //       content: "";
  //       width: 100%;
  //       height: 110%;
  //       background: linear-gradient(91.58deg, #0c4da4 5.9%, #012f6d 89.15%);
  //     }
  //   }
  //   p {
  //     position: relative;
  //     bottom: 2em;
  //     left: 2em;
  //   }
  //   .subheader {
  //     width: 50%;
  //     span {
  //       font-size: 2.9em;
  //     }
  //     p {
  //       font-size: 0.9em;
  //       margin-left: 0.6em;
  //       bottom: 0;
  //     }
  //   }
  // }
  // @include large {
  //   header {
  //     margin: 2em 20% 0 0;
  //     &::after {
  //       position: absolute;
  //       right: 10%;
  //       top: 41%;
  //       content: "";
  //       width: 10%;
  //       height: 25%;
  //       background: linear-gradient(129.25deg, #0c4da4 16.95%, #012f6d 72.48%);
  //     }
  //     h1 {
  //       font-size: 2em;
  //       margin-left: -0.7em;
  //       position: relative;
  //       &::before {
  //         position: absolute;
  //         z-index: -1;
  //         margin-left: 0.7em;
  //         content: "";
  //         width: 100%;
  //         top: 20%;
  //         height: 110%;
  //         background: linear-gradient(91.58deg, #0c4da4 5.9%, #012f6d 89.15%);
  //       }
  //     }
  //     .subheader {
  //       p {
  //         margin: 0;
  //         font-size: 0.6em;
  //       }
  //     }
  //   }
  //   img {
  //     transform: scale(1.8) translate(-2.5em, 0.6em);
  //   }
  // }
}
