.main {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: fixed;
}

.main > #backgroundImage {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.main nav {
  position: absolute;
  width: 100%;
  height: 5vh;
  z-index: 3;
  top: 7%;
}

.main nav .navbar {
  position: absolute;
  list-style: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main nav .navbar ul {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 1.8s ease-out;
  transition: all 1.8s ease-out;
}

.main nav .navbar ul a {
  color: white;
  text-decoration: none;
}

.main nav .navbar ul:hover:before {
  display: inline;
}

.main nav .navbar ul:before {
  z-index: 3;
  content: "";
  position: absolute;
  display: none;
  width: 70%;
  bottom: -60%;
  height: 10px;
  background: linear-gradient(89.6deg, #3426c8 2.76%, #03f0ff 99.96%);
}

.main .slider {
  position: relative;
  width: 100%;
}

.main .slider button {
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0);
  border-color: rgba(1, 1, 1, 0);
}

.main .slider button:focus {
  border-color: rgba(1, 1, 1, 0);
}

.main .slider .right-arrow {
  position: absolute;
  top: 50%;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .main .slider .right-arrow {
    right: 5%;
  }
}

@media only screen and (min-width: 1200px) {
  .main .slider .right-arrow {
    right: 10%;
  }
}

.main .slider .left-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .main .slider .left-arrow {
    left: 5%;
  }
}

@media only screen and (min-width: 1200px) {
  .main .slider .left-arrow {
    left: 10%;
  }
}

.main .slider .content-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  overflow: hidden;
}

.main .slider .content-slider .slider {
  width: 100%;
  height: 80vh;
  z-index: 1;
  position: relative;
}

.main .slider .content-slider .slider header {
  position: relative;
  width: 50%;
  height: 50%;
  left: 15%;
  top: 25%;
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  .main .slider .content-slider .slider header {
    width: 25%;
    left: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .main .slider .content-slider .slider header {
    width: 50%;
    left: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  .main .slider .content-slider .slider header {
    width: 50%;
    left: 15%;
  }
}

.main .slider .content-slider .slider header p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

@media only screen and (min-width: 768px) {
  .main .slider .content-slider .slider header p:first-child {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .main .slider .content-slider .slider header p:first-child {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .main .slider .content-slider .slider header p:first-child {
    font-size: 1.5rem;
  }
}

.main .slider .content-slider .slider header h1 {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5rem;
  line-height: 4.8rem;
  color: white;
  letter-spacing: 5.4px;
  margin: 0.3em 0;
}

@media only screen and (min-width: 768px) {
  .main .slider .content-slider .slider header h1 {
    font-size: 3rem;
    line-height: 3.3rem;
  }
}

@media only screen and (min-width: 992px) {
  .main .slider .content-slider .slider header h1 {
    font-size: 3.5rem;
    line-height: 3.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .main .slider .content-slider .slider header h1 {
    font-size: 4.5rem;
    line-height: 4.8rem;
  }
}

.main .slider .content-slider .slider header .subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .slider .content-slider .slider header .subheader span {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 78.4px;
}

.main .slider .content-slider .slider header .subheader p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.35rem;
  line-height: 1.81rem;
  /* or 136% */
  padding-left: 1rem;
  letter-spacing: 1.65px;
  color: #ffffff;
}

.main .slider .content-slider .slider img {
  z-index: 2;
  position: absolute;
  top: 17%;
  left: 55%;
  height: 85%;
}

.main .slider .content-slider .slider .rounded-button {
  position: relative;
  font-family: "Anton";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  background: #01245e;
  letter-spacing: 1.35px;
  padding: 0.3rem;
  -webkit-box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
          box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c588f0, rgba(255, 255, 255, 0));
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #022055 inset;
          box-shadow: 2px 1000px 1px #022055 inset;
}

.main .slider .content-slider .slider.second {
  width: 100%;
  height: 80vh;
  z-index: 1;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .main .slider .content-slider .slider.second header h1 {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media only screen and (min-width: 992px) {
  .main .slider .content-slider .slider.second header h1 {
    font-size: 3.2rem;
    line-height: 3.1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .main .slider .content-slider .slider.second header h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

.main .slider .content-slider .slider.second img {
  height: 65%;
  top: 27%;
  left: 40%;
}

.main .slider .content-slider .slider.second .subheader {
  position: relative;
  top: -2%;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .main .slider .content-slider .slider.second .subheader p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media only screen and (min-width: 992px) {
  .main .slider .content-slider .slider.second .subheader p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

@media only screen and (min-width: 1200px) {
  .main .slider .content-slider .slider.second .subheader p {
    font-size: 1.35rem;
    line-height: 1.81rem;
  }
}

.main .slider .content-slider .slider.third {
  width: 100%;
  height: 80vh;
  z-index: 1;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .main .slider .content-slider .slider.third .subheader p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .main .slider .content-slider .slider.third .subheader p {
    font-size: 1.35rem;
  }
}

.main .slider .content-slider .slider.third img {
  top: 22%;
  left: 45%;
}

.main .slider .content-slider .slider.third .subheader {
  width: 60%;
  left: 7%;
}

.main .slider .content-slider .slider.fourth {
  width: 100%;
  height: 80vh;
  z-index: 1;
  position: relative;
}

.main .slider .content-slider .slider.fourth img {
  top: 1%;
  left: 45%;
  height: 120%;
}

.main .slider .content-slider .slider.fourth .subheader {
  width: 60%;
}

.main .slider .slide-indicator {
  position: relative;
  top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .slider .slide-indicator span {
  margin-left: 2em;
  border-radius: 50%;
  border: 2px solid white;
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=style.css.map */