body {
  overflow-x: hidden; }

* {
  scroll-behavior: smooth; }

.main {
  float: left;
  clear: none;
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/Background.png");
  background-size: 100% 100%; }
  @media only screen and (min-width: 768px) {
    .main {
      background-image: url("/assets/Back-large.png"); } }
  .main nav.larger {
    position: absolute;
    width: 100%;
    height: 5vh;
    top: 7%; }
    .main nav.larger .navbar {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      display: none;
      flex-direction: row;
      justify-content: center;
      position: relative;
      padding-right: 2.3rem;
      display: none;
      display: none; }
      .main nav.larger .navbar a {
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        transition: all 1.8s ease-out;
        color: #fff;
        text-decoration: none;
        margin-left: 2.3rem; }
        .main nav.larger .navbar a:hover:before {
          display: inline; }
        .main nav.larger .navbar a:before {
          z-index: 3;
          content: "";
          position: absolute;
          display: none;
          width: 100%;
          bottom: -60%;
          height: 10px;
          background: linear-gradient(89.6deg, #3426c8 2.76%, #03f0ff 99.96%); }
      @media only screen and (min-width: 768px) {
        .main nav.larger .navbar {
          display: flex; } }
      @media only screen and (max-height: 575px) {
        .main nav.larger .navbar {
          display: none; } }
  .main nav.mobile {
    position: absolute;
    width: 100%;
    height: 6vh;
    top: 0; }
    .main nav.mobile button {
      position: relative;
      height: 100%;
      width: 3rem;
      margin: 1rem 0 0 1rem;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      border-color: rgba(0, 0, 0, 0); }
    .main nav.mobile + .links {
      left: 100%;
      top: 0;
      z-index: 5;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(108, 95, 255, 0.9);
      width: 100%;
      height: 100%;
      transition: 1s; }
      .main nav.mobile + .links a {
        margin-top: 1.5rem;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        color: #fff;
        text-decoration: none; }
      .main nav.mobile + .links button {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 1rem;
        right: 1rem; }
        .main nav.mobile + .links button svg {
          width: 4rem;
          height: 4rem; }

@media only screen and (min-width: 768px) and (min-height: 575px) {
  .main nav.mobile {
    display: none; } }
  .main .slider {
    position: relative;
    width: 100%; }
    .main .slider button {
      cursor: pointer;
      background-color: rgba(1, 1, 1, 0);
      border-color: rgba(1, 1, 1, 0); }
      .main .slider button:focus {
        border-color: rgba(1, 1, 1, 0); }
    .main .slider .right-arrow {
      position: absolute;
      top: 40%;
      z-index: 3;
      right: 5%; }
      @media only screen and (min-width: 768px) {
        .main .slider .right-arrow {
          right: 6%;
          top: 41%; } }
    .main .slider .left-arrow {
      position: absolute;
      top: 40%;
      z-index: 2;
      left: 5%; }
      @media only screen and (min-width: 768px) {
        .main .slider .left-arrow {
          left: 6%;
          top: 41%; } }
    .main .slider .content-slider {
      display: flex;
      width: 400vw;
      height: 80vh;
      overflow: hidden;
      align-items: center; }
      .main .slider .content-slider .slide {
        overflow: hidden;
        position: relative;
        flex-direction: column-reverse;
        width: 100vw;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em; }
        @media only screen and (max-height: 650px) and (max-width: 400px) {
          .main .slider .content-slider .slide {
            font-size: 0.7em; } }
        @media only screen and (min-width: 768px) {
          .main .slider .content-slider .slide {
            font-size: 1.2em;
            flex-direction: row;
            height: 80vh; } }
        @media only screen and (min-width: 992px) {
          .main .slider .content-slider .slide {
            font-size: 1em; } }
        @media only screen and (min-width: 992px) and (orientation: portrait) {
          .main .slider .content-slider .slide {
            font-size: 1.6em; } }
        @media only screen and (min-width: 1200px) {
          .main .slider .content-slider .slide {
            font-size: 1.8em; } }
        @media only screen and (max-height: 650px) and (min-width: 768px) {
          .main .slider .content-slider .slide {
            font-size: 0.9em; } }
        @media only screen and (max-height: 700px) and (min-width: 768px) {
          .main .slider .content-slider .slide {
            font-size: 1em; } }
        .main .slider .content-slider .slide .inner-slide {
          position: relative;
          width: 70%;
          height: 80vh;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .slider .content-slider .slide .inner-slide img {
            width: 100%;
            height: auto; }
    .main .slider .slide-indicator {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .main .slider .slide-indicator span {
        cursor: pointer;
        margin-left: 2em;
        border-radius: 50%;
        border: 2px solid white;
        width: 0.7em;
        height: 0.8em; }
        @media only screen and (min-width: 768px) {
          .main .slider .slide-indicator span {
            width: 20px;
            height: 20px; } }

.services {
  float: left;
  clear: none;
  margin: 0;
  background-image: url("/assets/servicios.png");
  background-color: #0d0048;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; }
  .services .content {
    position: relative;
    width: 100%; }
    .services .content section {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      color: white;
      text-align: center; }
      .services .content section h3 {
        font-family: "Archivo Black", sans-serif;
        font-size: 4em; }
      .services .content section p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1em; }
    .services .content .steps {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-evenly;
      max-width: 100%;
      padding: 0 5em 0 5em;
      flex-direction: column; }
      .services .content .steps hr {
        position: relative;
        flex-grow: 1;
        bottom: 2em;
        display: none; }
      @media only screen and (min-width: 768px) {
        .services .content .steps {
          flex-direction: row; }
          .services .content .steps hr {
            display: block; } }
      .services .content .steps .step {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative; }
        .services .content .steps .step .img {
          width: 8em;
          height: 8em; }
        .services .content .steps .step p {
          text-align: center;
          font-family: "Archivo Black", sans-serif;
          margin: 1em 0 1em 0;
          width: 7em; }
      @media only screen and (min-width: 768px) {
        .services .content .steps .step::after {
          display: none; }
        .services .content .steps .step::before {
          display: none; } }
      .services .content .steps .step.one:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 1em;
        top: 8em;
        background-color: #fff; }
      .services .content .steps .step.two:before {
        content: "";
        width: 5px;
        height: 1em;
        bottom: 0em;
        background-color: #fff; }
      .services .content .steps .step.two:after {
        position: absolute;
        content: "";
        width: 5px;
        height: 1em;
        top: 9em;
        background-color: #fff; }
      .services .content .steps .step.three:before {
        content: "";
        width: 5px;
        height: 1em;
        bottom: 0em;
        background-color: #fff; }
    .services .content .info {
      display: flex;
      position: relative;
      flex-direction: column;
      max-width: 100%;
      top: 4em; }
      .services .content .info div {
        display: flex;
        padding: 2em;
        flex-direction: column;
        align-items: center; }
        .services .content .info div .text {
          order: 2;
          display: flex;
          flex-direction: column;
          max-width: 80%;
          text-align: center; }
          .services .content .info div .text h3 {
            font-family: "Archivo Black", sans-serif;
            font-size: 1.75em; }
          .services .content .info div .text p {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 1.25em; }
        .services .content .info div img {
          order: 1;
          width: 80%;
          height: auto; }
        @media only screen and (min-width: 768px) {
          .services .content .info div {
            flex-direction: row; }
            .services .content .info div img {
              order: 2;
              width: 50%; }
            .services .content .info div .text {
              order: 1;
              max-width: 50%;
              text-align: left; } }

.products {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  background-image: url("/assets/servicios.png");
  background-color: #0d0048;
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; }
  .products .content {
    position: relative;
    top: 10vh;
    width: 100%; }
    .products .content > h1 {
      width: 100%;
      text-align: center;
      font-family: "Archivo Black", sans-serif;
      font-size: 3em; }
    .products .content section {
      max-width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-color: rgba(12, 77, 164, 0.3);
      background-blend-mode: soft-light;
      padding: 5em;
      text-align: center;
      transition: background 1s ease-in-out; }
      .products .content section a {
        color: white;
        text-decoration: none; }
        .products .content section a .text h2 {
          font-family: "Montserrat", sans-serif;
          font-size: 3em; }
        .products .content section a .text p {
          font-family: "Montserrat", sans-serif;
          font-size: 2.5em; }
      @media only screen and (min-width: 768px) {
        .products .content section {
          justify-content: flex-start; }
          .products .content section .text {
            max-width: 50%; }
          .products .content section:nth-of-type(1) {
            flex-direction: row-reverse; }
            .products .content section:nth-of-type(1) a .text {
              margin-left: auto; }
          .products .content section:nth-of-type(3) {
            flex-direction: row-reverse; }
            .products .content section:nth-of-type(3) a .text {
              margin-left: auto; } }
    .products .content section:hover {
      background-size: 150% 150%; }
    .products .content section:nth-of-type(1) {
      background-image: url("/assets/products/bg-1.png");
      flex-direction: row-reverse; }
    .products .content section:nth-of-type(2) {
      background-image: url("/assets/products/bg-2.png"); }
    .products .content section:nth-of-type(3) {
      background-image: url("/assets/products/bg-3.png");
      flex-direction: row-reverse; }

.products-list {
  margin: 0;
  background-image: url("/assets/servicios.png");
  background-color: #0d0048;
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; }
  .products-list nav.larger {
    position: absolute;
    width: 100%;
    height: 5vh;
    top: 7%; }
    .products-list nav.larger .navbar {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      display: none;
      flex-direction: row;
      justify-content: center;
      position: relative;
      padding-right: 2.3rem;
      display: none;
      display: none; }
      .products-list nav.larger .navbar a {
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        transition: all 1.8s ease-out;
        color: #fff;
        text-decoration: none;
        margin-left: 2.3rem; }
        .products-list nav.larger .navbar a:hover:before {
          display: inline; }
        .products-list nav.larger .navbar a:before {
          z-index: 3;
          content: "";
          position: absolute;
          display: none;
          width: 100%;
          bottom: -60%;
          height: 10px;
          background: linear-gradient(89.6deg, #3426c8 2.76%, #03f0ff 99.96%); }
      @media only screen and (min-width: 768px) {
        .products-list nav.larger .navbar {
          display: flex; } }
      @media only screen and (max-height: 575px) {
        .products-list nav.larger .navbar {
          display: none; } }
  .products-list nav.mobile {
    position: absolute;
    width: 100%;
    height: 6vh;
    top: 0; }
    .products-list nav.mobile button {
      position: relative;
      height: 100%;
      width: 3rem;
      margin: 1rem 0 0 1rem;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      border-color: rgba(0, 0, 0, 0); }
    .products-list nav.mobile + .links {
      left: 100%;
      top: 0;
      z-index: 5;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(108, 95, 255, 0.9);
      width: 100%;
      height: 100%;
      transition: 1s; }
      .products-list nav.mobile + .links a {
        margin-top: 1.5rem;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        color: #fff;
        text-decoration: none; }
      .products-list nav.mobile + .links button {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 1rem;
        right: 1rem; }
        .products-list nav.mobile + .links button svg {
          width: 4rem;
          height: 4rem; }

@media only screen and (min-width: 768px) and (min-height: 575px) {
  .products-list nav.mobile {
    display: none; } }
  @media only screen and (max-height: 650px) and (max-width: 400px) {
    .products-list {
      font-size: 0.7em; } }
  @media only screen and (min-width: 768px) {
    .products-list {
      font-size: 1.2em;
      flex-direction: row;
      height: 80vh; } }
  @media only screen and (min-width: 992px) {
    .products-list {
      font-size: 1em; } }
  @media only screen and (min-width: 992px) and (orientation: portrait) {
    .products-list {
      font-size: 1.6em; } }
  @media only screen and (min-width: 1200px) {
    .products-list {
      font-size: 1.8em; } }
  @media only screen and (max-height: 650px) and (min-width: 768px) {
    .products-list {
      font-size: 0.9em; } }
  @media only screen and (max-height: 700px) and (min-width: 768px) {
    .products-list {
      font-size: 1em; } }
  .products-list .content {
    position: relative;
    top: 10vh;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .products-list .content {
        top: 18vh; } }
    .products-list .content > h1 {
      width: 100%;
      text-align: center;
      font-family: "Archivo Black", sans-serif;
      font-size: 3em; }
    .products-list .content > h1:nth-of-type(1) {
      margin-bottom: 0; }
    .products-list .content > h1:nth-of-type(2) {
      margin-top: 0; }
    .products-list .content > p {
      margin: auto;
      text-align: center;
      width: 60%;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500; }
    .products-list .content .grid {
      position: relative;
      max-width: 90%;
      margin: 3em auto;
      display: grid;
      grid-template-columns: repeat(2, minmax(190px, 1fr));
      grid-template-rows: minmax(300px, auto);
      grid-auto-rows: 1fr;
      grid-auto-flow: dense;
      grid-gap: 1em;
      align-items: start; }
      @media only screen and (min-width: 768px) {
        .products-list .content .grid {
          grid-template-columns: repeat(3, minmax(190px, 1fr)); } }
      @media only screen and (min-width: 992px) {
        .products-list .content .grid {
          grid-template-columns: repeat(4, minmax(190px, 1fr)); } }
      .products-list .content .grid .item {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .products-list .content .grid .item img {
          border-radius: 20px;
          width: 100%;
          height: auto; }
        .products-list .content .grid .item p {
          text-align: center;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 1.2em; }

.contact {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  background-image: url("/assets/servicios.png");
  background-color: #0d0048;
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  width: 100%; }
  .contact .content {
    position: relative;
    margin-top: 15vh;
    width: 100%; }
    .contact .content h1 {
      width: 100%;
      text-align: center;
      font-family: "Archivo Black", sans-serif;
      font-size: 3em; }
    .contact .content h6 {
      width: 100%;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 1.6em;
      letter-spacing: 0.4em; }
    .contact .content .icons {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%; }
      .contact .content .icons .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 1em; }
        .contact .content .icons .item p {
          max-width: 8em; }
        .contact .content .icons .item a {
          text-decoration: none;
          color: white; }
        .contact .content .icons .item img {
          width: 6em; }
    .contact .content .wrap-form {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative; }
      .contact .content .wrap-form form {
        padding-top: 1.5em;
        width: 85%;
        background: linear-gradient(142.13deg, #4f96f5 0%, rgba(12, 77, 164, 0) 96.01%);
        border-radius: 12px; }
        @media only screen and (min-width: 768px) {
          .contact .content .wrap-form form {
            width: 65%; } }
        .contact .content .wrap-form form .input-group {
          position: relative;
          width: 90%;
          margin: auto; }
          .contact .content .wrap-form form .input-group label {
            display: inline-block;
            margin: 1.5em 0 0.5em 0;
            font-size: 1em;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 1em; }
          .contact .content .wrap-form form .input-group input,
          .contact .content .wrap-form form .input-group textarea {
            width: 100%;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1.1em;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            color: white; }
          .contact .content .wrap-form form .input-group textarea {
            border: 3px solid transparent;
            border-image: linear-gradient(45deg, #03f0ff, #3426c8);
            border-image-slice: 1;
            resize: none; }
          .contact .content .wrap-form form .input-group.area label {
            width: 100%;
            text-align: center;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 1.8em;
            margin-bottom: 1em; }
          .contact .content .wrap-form form .input-group:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: linear-gradient(45deg, #03f0ff, #3426c8); }
          .contact .content .wrap-form form .input-group.area:after {
            background: none; }
        .contact .content .wrap-form form .form-submit {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .contact .content .wrap-form form .form-submit input {
            cursor: pointer;
            font-family: "Anton", sans-serif;
            font-size: 1.2em;
            color: white;
            letter-spacing: 0.3em;
            text-decoration: none;
            text-align: center;
            background-size: 200%;
            transition: background 1s ease;
            height: 3em;
            transform: translateY(50%);
            width: 60%;
            position: relative;
            bottom: 0;
            background: linear-gradient(94.8deg, rgba(52, 38, 200, 0.9) 9.26%, rgba(108, 95, 255, 0.9) 77.83%);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
            border-radius: 10px; }
            .contact .content .wrap-form form .form-submit input:hover {
              background-position: right; }
  .contact .footer {
    margin-top: 5em;
    margin-bottom: 5em; }
    .contact .footer h3,
    .contact .footer p {
      width: 100%;
      text-align: center; }
    .contact .footer h3 {
      font-family: "Archivo Black", sans-serif;
      font-size: 1.5em; }
    .contact .footer p {
      font-family: "Montserrat", sans-serif;
      font-size: 1em; }
    .contact .footer .social-icons {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contact .footer .social-icons a img {
        width: 100%;
        height: auto; }

.services {
  float: left;
  clear: none;
  margin: 0;
  background-image: url("/assets/servicios.png");
  background-color: #0d0048;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; }
  .services .content {
    position: relative;
    width: 100%; }
    .services .content section {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      color: white;
      text-align: center; }
      .services .content section h3 {
        font-family: "Archivo Black", sans-serif;
        font-size: 4em; }
      .services .content section p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1em; }
    .services .content .steps {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-evenly;
      max-width: 100%;
      padding: 0 5em 0 5em;
      flex-direction: column; }
      .services .content .steps hr {
        position: relative;
        flex-grow: 1;
        bottom: 2em;
        display: none; }
      @media only screen and (min-width: 768px) {
        .services .content .steps {
          flex-direction: row; }
          .services .content .steps hr {
            display: block; } }
      .services .content .steps .step {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative; }
        .services .content .steps .step .img {
          width: 8em;
          height: 8em; }
        .services .content .steps .step p {
          text-align: center;
          font-family: "Archivo Black", sans-serif;
          margin: 1em 0 1em 0;
          width: 7em; }
      @media only screen and (min-width: 768px) {
        .services .content .steps .step::after {
          display: none; }
        .services .content .steps .step::before {
          display: none; } }
      .services .content .steps .step.one:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 1em;
        top: 8em;
        background-color: #fff; }
      .services .content .steps .step.two:before {
        content: "";
        width: 5px;
        height: 1em;
        bottom: 0em;
        background-color: #fff; }
      .services .content .steps .step.two:after {
        position: absolute;
        content: "";
        width: 5px;
        height: 1em;
        top: 9em;
        background-color: #fff; }
      .services .content .steps .step.three:before {
        content: "";
        width: 5px;
        height: 1em;
        bottom: 0em;
        background-color: #fff; }
    .services .content .info {
      display: flex;
      position: relative;
      flex-direction: column;
      max-width: 100%;
      top: 4em; }
      .services .content .info div {
        display: flex;
        padding: 2em;
        flex-direction: column;
        align-items: center; }
        .services .content .info div .text {
          order: 2;
          display: flex;
          flex-direction: column;
          max-width: 80%;
          text-align: center; }
          .services .content .info div .text h3 {
            font-family: "Archivo Black", sans-serif;
            font-size: 1.75em; }
          .services .content .info div .text p {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 1.25em; }
        .services .content .info div img {
          order: 1;
          width: 80%;
          height: auto; }
        @media only screen and (min-width: 768px) {
          .services .content .info div {
            flex-direction: row; }
            .services .content .info div img {
              order: 2;
              width: 50%; }
            .services .content .info div .text {
              order: 1;
              max-width: 50%;
              text-align: left; } }
