.content-slider {
    display: flex;
    width: 400%;
    overflow: hidden;
    .slider {
      width: 100%;
      height: 80vh;
      z-index: 1;
      position: relative;
      header {
        position: relative;
        width: 50%;
        height: 50%;
        left: 15%;
        top: 25%;
        white-space: nowrap;
        @include tablet {
          width: 25%;
          left: 10%;
        }
        @include desktop {
          width: 50%;
          left: 10%;
        }

        @include large {
          left: 15%;
        }

        p:first-child {
          font-family: "Montserrat", sans-serif;
          font-size: 1.5rem;
          font-weight: 600;
          color: white;
          @include tablet {
            font-size: 1rem;
          }
          @include desktop {
            font-size: 1.3rem;
          }

          @include large {
            font-size: 1.5rem;
          }
          @
        }
        h1 {
          font-family: "Archivo Black", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 4.5rem;

          line-height: 4.8rem;
          color: white;
          letter-spacing: 5.4px;
          margin: 0.3em 0;

          @include tablet {
            font-size: 3rem;
            line-height: 3.3rem;
          }
          @include desktop {
            font-size: 3.5rem;
            line-height: 3.8rem;
          }

          @include large {
            font-size: 4.5rem;
            line-height: 4.8rem;
          }
          @include maxHeight{
            font-size: 2.5rem;
            line-height: 2.3rem;
          }
        }
        .subheader {
          display: flex;
          align-items: center;

          span {
            font-family: "Anton", sans-serif;
            color: white;
            font-size: 78.4px;
          }
          p {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 1.35rem;
            line-height: 1.81rem;
            /* or 136% */
            padding-left: 1rem;

            letter-spacing: 1.65px;

            color: #ffffff;
          }
        }
      }

      img {
        z-index: 2;
        position: absolute;
        top: 17%;
        left: 55%;
        height: 85%;
        @include large {
          left: 60%;
        }
      }
      .rounded-button {
        position: relative;
        font-family: "Anton";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        color: #ffffff;
        text-decoration: none;
        border-radius: 10px;
        background: rgba(1, 36, 94, 1);
        letter-spacing: 1.35px;
        padding: 0.3rem;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(
            101deg,
            rgba(197, 136, 240, 1),
            rgba(255, 255, 255, 0)
          );
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px rgba(2, 32, 85, 1) inset;
      }
      &.second {
        width: 100%;
        height: 80vh;
        z-index: 1;
        position: relative;
        header {
          h1 {
            @include tablet {
              font-size: 1rem;
              line-height: 1.4rem;
            }
            @include desktop {
              font-size: 3.2rem;
              line-height: 3.1rem;
            }

            @include large {
              font-size: 4.5rem;

              line-height: 4rem;
            }
          }
        }

        img {
          height: 65%;
          top: 27%;
          left: 40%;
        }
        .subheader {
          position: relative;
          top: -2%;
          width: 90%;
          p {
            @include tablet {
              font-size: 1rem;
              line-height: 1.4rem;
            }
            @include desktop {
              font-size: 1.2rem;
              line-height: 1.6rem;
            }

            @include large {
              font-size: 1.35rem;
              line-height: 1.81rem;
            }
          }
        }
      }
      &.third {
        width: 100%;
        height: 80vh;
        z-index: 1;
        position: relative;
        .subheader {
          p {
            @include tablet {
              font-size: 1rem;
            }
            @include large {
              font-size: 1.35rem;
            }
          }
        }
        img {
          top: 22%;
          left: 45%;
        }
        .subheader {
          width: 60%;
          left: 7%;
        }
      }
      &.fourth {
        width: 100%;
        height: 80vh;
        z-index: 1;
        position: relative;
        img {
          top: 1%;
          left: 45%;
          height: 120%;
        }
        .subheader {
          width: 60%;
        }
      }
    }
  }